<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sndshun.rbac0.mapper.Rbac0RoleMapper">

    <resultMap type="com.sndshun.rbac0.entity.Rbac0RoleEntity" id="Rbac0RoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_column">
        idrole_namedescriptionupdate_bycreate_byupdate_timecreate_time    </sql>

    <!--用于粘贴复制-->
    <select id="test" resultMap="Rbac0RoleMap">
        select
        idrole_namedescriptionupdate_bycreate_byupdate_timecreate_time
        from framework.rbac0_role
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>


</mapper>

